# Ignore local data folders
data/
config.ini
aaukstuo.keytab

# Ignore mounted network drives (just in case)
/mnt/

# Ignore massive data files anywhere
*.csv
*.mrc
*.parquet
*.json
*.tif
*.tiff

# Ignore Python cache and hidden environment variables (passwords)
__pycache__/
*.pyc
.env
.env.*

# Ignore Server Logs
logs/
*.log
uptime-kuma-data/
